<%- include("header") ->

<h1>Compose</h1>

<form action="/compose" method="POST">

  <div class="form-group">
    <label for="title">Title</label>
    <input name="postTitle" type="text" class="form-control" id="title">
    <label for="post">Post</label>
    <textarea name="postBody" class="form-control" id="post" rows="5" cols="30"></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>

</form>


<%- include("footer") ->
